<a href="https://colab.research.google.com/github/JoseNarvaez24/intro_python_202320/blob/main/introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introducción a python

## Curso e programación y algoritmia UPB 202320

- Nombre: José Luis
- ID: 500983
- Email: josel.narvaez@upb.edu.co

Esta es la expreción de la línea recta:
$$y = mx + b$$
Donde $x$ es la posición

In [ ]:
# Comentarios

In [ ]:
# Mis primeras líneas de código en Python
name = "José Luis"
print("Hello,", name)

Hello, José Luis

In [2]:
# Frase
firstname = "José Luis"
lastname = "Narvaez Arrieta"
age = "18"
city = "Cereté"
food = "Mote de queso"
print("Mi nombre es", firstname, lastname, "y tengo", age, "años", "vivo en", city, "y me gusta el", food )

Mi nombre es José Luis Narvaez Arrieta y tengo 18 años vivo en Cereté y me gusta el Mote de queso

In [10]:
a = 3
b = 4.5
c = a + b
print(type(a))
print(type(b))
print(c)
c = c * a
print(c)
c = int(c / b)
print(c)
d = 0.3
c /= 0.3
print(c)

<class 'int'>
<class 'float'>
7.5
22.5
5
16.666666666666668

In [20]:
m = 5
b = 2
x = -3
y = m * x + b
print(y)
x = -2
y = m * x + b
print(y)
x = -1
y = m * x + b
print(y)
x = 0
y = m * x + b
print(y)
x = 1
y = m * x + b
print(y)
x = 2
y = m * x + b
print(y)
x = 3
y = m * x + b
print(y)

-13
-8
-3
2
7
12
17

In [26]:
a = 1
b = 2
c = -8

disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:", x_p)
print("x_n:", x_n)

a = -3
b = 1
c = 10

disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:", x_p)
print("x_n:", x_n)

a = 0.1
b = -2
c = 0.5

disc = (b ** 2 - 4 * a * c) ** (1/2)
x_p = (-b + disc) / (2 * a)
x_n = (-b - disc) / (2 * a)
print("x_p:", x_p)
print("x_n:", x_n)

x_p: 2.0
x_n: -4.0
x_p: -1.6666666666666667
x_n: 2.0
x_p: 19.74679434480896
x_n: 0.25320565519103666

In [28]:
firstname = "Jose"
lastname = "Narvaez"
fullname = firstname + " " + lastname
print(fullname)

Jose Narvaez

In [32]:
song = """Un elefante se balanceaba
sobre la tela de una araña
como veia que resistia
se fue a buscar otra... no se.
"""
print(song)

Un elefante se balanceaba
sobre la tela de una araña
como veia que resistia
se fue a buscar otra... no se.

In [35]:
a = 3
b = 5
print( a == b)
print( a != b)
print(a > b)
print( a < b)
print((a == b) and (b + 3 > 5))
print((a == b) or (b + 3 > 5))
print(not (a == b))

False
True
False
True
False
True
True